.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 3vh;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 75%;
    margin-top: 12vh;
  }
}
