.illustration-mobile {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -125%);
}

.illustration-desktop {
  display: none;
}

@media only screen and (min-width: 500px) {
  .illustration-mobile {
    width: 50%;
    transform: translate(-50%, -115%);
  }
}

@media only screen and (min-width: 600px) {
  .illustration-mobile {
    transform: translate(-50%, -110%);
  }
}

@media only screen and (min-width: 700px) {
  .illustration-mobile {
    width: 40%;
    transform: translate(-50%, -120%);
  }
}

@media only screen and (min-width: 800px) {
  .illustration-mobile {
    transform: translate(-50%, -110%);
  }
}

@media only screen and (min-width: 800px) {
  .illustration-mobile {
    width: 38%;
    transform: translate(-50%, -105%);
  }
}
@media only screen and (min-width: 1000px) {
  .illustration-mobile {
    display: none;
  }
  .illustration-desktop {
    display: block;
  }
}

.main-illustration {
  position: relative;
  top: 25px;
  right: 60px;
}

.box-illustration {
  position: relative;
  bottom: 180px;
  right: 110px;
}
