@use '../../../styles/variables.scss' as *;

.title {
  text-align: center;
  text-align: center;
  margin-top: 15vh;
  font-weight: bold;
  font-size: 2rem;

  font-weight: bold;
  font-size: 2rem;
}

@media only screen and (min-width: 1000px) {
  .title {
    text-align: left;
    margin-top: 5vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .faq-accordion {
    display: flex;
    flex-direction: row;
  }

  .faq-container {
    width: 50%;
  }
  .illustration-container {
    width: 50%;
  }
}
